@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprumbold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/CuprumItalic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/CuprumBoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: black;
    margin: 0px;
}

a {
    text-decoration: none;
}


.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}


.big-promo-drel {
    display: none;
}

.header-phone,
.header-address {
    display: block;
}


.promo-article {
    width: 300px;
}

.big-promo {
    width: 620px;
}

.popular-brand {
    width: 220px;
    height: 145px;
}

.guarantee-info,
.credit-info {
    display: none;
} 

.delivery-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-company-nav {
    width: 548px;
}

.footer-shop-nav {
    width: 524px;
}

.made-by-span {
    display: block;
}

.header-top {
    background-color: #33445a;
    color: white;
    min-height: 42px;
}

.header-top a {
    text-decoration: none;
    color: white;
}


.header-bottom {
    background-color: #f2f6f8;
    min-height: 278px;
}

.header-nav ul {
    list-style: none;
}

.header-nav a {
    color: white;
}

.materials {
    background-color: #ffbf47;
}

.instrument {
    background-color: #3bbce3;
}

.technics {
    background-color: #dc91d8;
}

.sale {
    background-color: #8ed78f;
}

.deliveries {
    background-color: #ffc047;
}

.popular-items-head {
    background-color: #f9f5f0;
}

.popular-brands-head {
    background-color: #f9f5f0;
}

.popular-brands-body ul {
    list-style: none;
}

.service {
    background-color: #f2f6f8;
}

.footer-top,
.footer-middle {
    background-color: #3d546e;
}

.footer-bottom {
    background-color: #33445a;
}

.footer-top a {
    color: white;
}

.footer-middle a,
.footer-bottom a {
    color: #ffda96;
}

.pagination {
    list-style: none;
}

.footer-company-nav .flex,
.footer-shop-nav .flex {
    list-style: none;
}

.perforators-info {
    background-color: #f2f6f8;
}

.perforators-top-nav,
.filter-header {
    background-color: #f7f3ec;
}

.breadcrumbs {
    list-style: none;
}

.price-filter {
    border: none;
    border-bottom: 1px solid black;
}

.header-logo {
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 55.32px;
    padding-right: 55px;
    background-color: #ff5357;
    box-shadow: 0px 5px #c23f42;
}

.header-top .container {
    align-items: center;
}

.search-form {
    position: relative;
    /*background-color: white;*/
    
}

.input-search {
    height: 42px;
    border: none;
    width: 270px;
    padding-left: 48px;
    padding-top: 0;
    padding-bottom: 1px;
    padding-right: 0;
    background-color: #33445a;
    font-family: "Cuprum";
    font-size: 17px;
    box-sizing: border-box;
}

.label-search {
    position: relative;
    /*color: #33445a;*/
    color: white;
 
    /*padding-left: 47px;*/
}



.label-search::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: 15px;
    top: -25px;
}


.input-search:hover,
.label-search:hover {
    background-color: white;
}

/*.input-search:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: -15px;
}*/

.label-search:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: 190px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-family: "Cuprum";
    font-size: 17px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.bookmarks-container {
    width: 150px;
    box-sizing: border-box;
    position: relative;
    padding-left: 44px;
    font-size: 17px;
}

.basket-container {
    width: 150px;
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    font-size: 17px;
}


.bookmarks-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -82px -168px;
    left: 17px;
    bottom: 5px;
}

.basket-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -36px -168px;
    left: 16px;
    bottom: 5px;
}


.btn-checkout {
    background-color: #63a63e;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 17px;
    padding-left: 21px;
    padding-right: 21.22px;
}

.header-contacts {
    width: 270px;
    box-sizing: border-box;
    margin-left: 18px;
}

.header-upper-row {
    min-height: 158px;
}

.header-description {
    width: 250px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ff5357;
    box-sizing: border-box;
    padding-left: 52px;
    margin-top: 49px;
}

.header-phone {
    width: 270px;
    position: relative;
    box-sizing: border-box;
    border: 3px solid white;
    min-height: 45px;
    font-size: 21px;
    color: #e9292a;
    padding-top: 8px;
    padding-left: 72px;
    margin-top: 46px;
}

.header-phone::before {
    content: "";
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -116px -191px;
    left: 12px;
    bottom: 10px;
}

.header-address {
    margin-left: 10px;
    margin-top: 4px;
    color: #3d546e;
}

.user-login {
    margin-top: 46px;
    width: 299px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    display: none;
}

.btn-login {
    margin-right: 10px;
    background-color: white;
    color: black;
    font-size: 21px;
    line-height: 18px;
    padding-right: 25px;
    padding-left: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}

.btn-login::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -166px -168px;
    left: 13px;
}

.btn-registration {
    background-color: white;
    color: black;
    font-size: 21px;
    line-height: 18px;
    padding-right: 24px;
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /*align-items: center;*/
}

.header-link {
    font-size: 17px;
    line-height: 17px;
    padding-top: 20px;
    display: inline-block;
    min-height: 60px;
    background-color: #3d546e;
    box-sizing: border-box;
    border-bottom: 2px solid 293449;
}

.header-link.link-one {
    padding-left: 52px;
    padding-right: 34px;
}

.header-link.link-two {
    padding-left: 30px;
    padding-right: 30px;
}

.header-link.link-three {
    padding-left: 29px;
    padding-right: 30px;
}

.header-link.link-four {
    padding-left: 30px;
    padding-right: 30px;
}

.header-link.link-five {
    padding-left: 29px;
    padding-right: 30px;
}

.header-link.link-six {
    padding-left: 32px;
    padding-right: 30px;
}

.header-link.link-seven {
    padding-left: 33px;
    padding-right: 54px;
}

.user-logged-in {
    /*display: none;*/
    margin-top: 46px;
    width: 299px;
}

.direct-user {
    color: black;
    font-size: 21px;
    line-height: 18px;
    display: inline-block;
    margin-top: 13px;
    margin-left: 47px;
    position: relative;
}

.direct-user::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    background-position: -215px -11px;
    left: -34px;
}

.direct-user::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 17px;
    background-position: -62px -191px;
    right: -56px;
    bottom: 0;
}

.user-name {
    background-color: white;
    min-height: 44px;
}

.lichka {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    display: inline-block;
    margin-top: 8px;
    margin-left: 18px;
    text-decoration: underline;
}

.lichka-two {
    margin-left: 28px;
    position: relative;
}

.lichka-two::before {
    content: "\2022";
    position: absolute;
    display: block;
    left: -17px;
    font-family: Arial;
}
