@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/PTSansNarrow.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprumbold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/CuprumItalic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/CuprumBoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: black;
    margin: 0px;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}


/*СТИЛИЗАЦИЯ HEADER */

.header-top {
    background-color: #33445a;
    color: white;
    min-height: 42px;
}

.header-top a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    background-color: #f2f6f8;
    min-height: 278px;
}

.header-nav ul {
    list-style: none;
}

.header-nav a {
    color: white;
}

.header-phone,
.header-address {
    display: block;
}

.header-logo {
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 55.32px;
    padding-right: 55px;
    background-color: #ff5357;
    box-shadow: 0px 5px #c23f42;
}

.header-top .container {
    align-items: center;
}

.search-form {
    position: relative;
    /*background-color: white;*/
    
}

.input-search {
    height: 42px;
    border: none;
    width: 270px;
    padding-left: 48px;
    padding-top: 0;
    padding-bottom: 1px;
    padding-right: 0;
    background-color: #33445a;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    box-sizing: border-box;
}

.label-search {
    position: relative;
    /*color: #33445a;*/
    color: white;
    /*padding-left: 47px;*/
}

.label-search::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: 15px;
    top: -25px;
}

.input-search:hover,
.label-search:hover {
    background-color: white;
}

/*.input-search:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: -15px;
}*/

.label-search:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -141px -191px;
    left: 190px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.bookmarks-container {
    width: 150px;
    box-sizing: border-box;
    position: relative;
    padding-left: 44px;
    font-size: 17px;
    display: block;
}

.basket-container {
    width: 150px;
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    font-size: 17px;
    display: block;
}

.bookmarks-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -82px -168px;
    left: 17px;
    bottom: 5px;
}

.basket-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -36px -168px;
    left: 16px;
    bottom: 5px;
}

.btn-checkout {
    background-color: #63a63e;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 17px;
    padding-left: 21px;
    padding-right: 21.22px;
}

.header-contacts {
    width: 270px;
    box-sizing: border-box;
    margin-left: 18px;
}

.header-upper-row {
    min-height: 158px;
}

.header-description {
    width: 250px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ff5357;
    box-sizing: border-box;
    padding-left: 52px;
    margin-top: 49px;
}

.header-phone {
    width: 270px;
    position: relative;
    box-sizing: border-box;
    border: 3px solid white;
    min-height: 45px;
    font-size: 21px;
    color: #e9292a;
    padding-top: 8px;
    padding-left: 72px;
    margin-top: 46px;
}

.header-phone::before {
    content: "";
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -116px -191px;
    left: 12px;
    bottom: 10px;
}

.header-address {
    margin-left: 10px;
    margin-top: 4px;
    color: #3d546e;
}

.user-login {
    margin-top: 46px;
    width: 299px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    display: none;
}

.btn-login {
    margin-right: 10px;
    background-color: white;
    color: black;
    font-size: 21px;
    line-height: 18px;
    padding-right: 25px;
    padding-left: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}

.btn-login::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -166px -168px;
    left: 13px;
}

.btn-registration {
    background-color: white;
    color: black;
    font-size: 21px;
    line-height: 18px;
    padding-right: 24px;
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /*align-items: center;*/
}

.header-link {
    font-size: 17px;
    line-height: 17px;
    padding-top: 20px;
    display: inline-block;
    min-height: 60px;
    background-color: #3d546e;
    box-sizing: border-box;
    border-bottom: 2px solid 293449;
}

.header-link.link-one {
    padding-left: 52px;
    padding-right: 34px;
}

.header-link.link-two {
    padding-left: 30px;
    padding-right: 30px;
}

.header-link.link-three {
    padding-left: 29px;
    padding-right: 30px;
}

.header-link.link-four {
    padding-left: 30px;
    padding-right: 30px;
}

.header-link.link-five {
    padding-left: 29px;
    padding-right: 30px;
}

.header-link.link-six {
    padding-left: 32px;
    padding-right: 30px;
}

.header-link.link-seven {
    padding-left: 33px;
    padding-right: 54px;
}

.user-logged-in {
    /*display: none;*/
    margin-top: 46px;
    width: 299px;
}

.direct-user {
    color: black;
    font-size: 21px;
    line-height: 18px;
    display: inline-block;
    margin-top: 13px;
    margin-left: 47px;
    position: relative;
}

.direct-user::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    background-position: -215px -11px;
    left: -34px;
}

.direct-user::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 17px;
    background-position: -62px -191px;
    right: -56px;
    bottom: 0;
}

.user-name {
    background-color: white;
    min-height: 44px;
}

.lichka {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    display: inline-block;
    margin-top: 8px;
    margin-left: 18px;
    text-decoration: underline;
}

.lichka-two {
    margin-left: 28px;
    position: relative;
}

.lichka-two::before {
    content: "\2022";
    position: absolute;
    display: block;
    left: -17px;
    font-family: Arial, sans-serif;
}






/*СТИЛИЗАЦИЯ PROMO*/

.big-promo-drel {
    display: none;
}

/*.big-promo-perforator {
    display: none;
}*/


.promo-article {
    width: 300px;
    min-height: 123px;
    position: relative;
}

.big-promo {
    width: 620px;
}

.materials {
    background-color: #ffbf47;
    overflow: hidden;
}

.instrument {
    background-color: #3bbce3;
}

.technics {
    background-color: #dc91d8;
}

.sale {
    background-color: #8ed78f;
}

.deliveries {
    background-color: #ffc047;
}

.promo-upper-row {
    margin-top: 59px;
}

.promo-lower-row {
    margin-top: 20px;
    min-height: 266px;
}

.promo-article h1 {
    font-size: 24px;
    line-height: 30px;
    color: white;
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 0;
}

.promo-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-article a {
    display: inline-block;
    margin-left: 23px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.promo-article.materials a {
    padding-top: 11px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 9px;
    margin-left: 25px;
}

.promo-article.instrument a {
    margin-left: 25px;
    padding-top: 11px;
    padding-left: 27px;
    padding-right: 26px;
    padding-bottom: 9px;
}

.promo-article.technics a {
    padding-top: 11px;
    padding-left: 31px;
    padding-right: 30px;
    padding-bottom: 9px;
}

.promo-article.sale a {
    padding-top: 11px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 9px;
}

.promo-article.deliveries a {
    padding-top: 11px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 9px;
}

.promo-article.materials::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    background-position: -3px -3px;
    left: 213px;
    top: 30px;
}

.promo-article.materials::after {
    content: "new";
    display: block;
    position: absolute;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    top: 5px;
    right: -24px;
    background-color: #ff5357;
    width: 89px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
    transform: rotate(45deg);
}

.promo-article.instrument::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
    background-position: -53px -3px;
    left: 197px;
    top: 33px;
}

.promo-article.technics::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 62px;
    background-position: -3px -81px;
    left: 191px;
    top: 31px;
}

.promo-article.sale::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 72px;
    background-position: -134px -3px;
    left: 195px;
    top: 26px;
}

.promo-article.deliveries::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    background-position: -87px -81px;
    left: 191px;
    top: 32px;
}

.big-promo a {
    display: inline-block;
    width: 195px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 2px;
    margin-top: 101px;
    margin-left: 25px;
}

.big-promo h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding-top: 26px;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
}

.big-promo h2 {
    color: white;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 4px;
}

.big-promo-perforator {
    background-image: url("../img/slider1.png");
}

.big-promo-drel {
    background-image: url("../img/slider2.png");
}

.big-promo .header-container {
    min-height: 105px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
}




/*СТИЛИЗАЦИЯ ПОПУЛЯРНЫХ ТОВАРОВ*/

.popular-items {
    margin-top: 53px;
}

.popular-items-head {
    background-color: #f9f5f0;
    min-height: 89px;
    box-sizing: border-box;
}

.popular-items-head h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-left: 29px;
    margin-top: 30px;
    font-weight: normal;
    color: #3d546e;
}

.popular-items-head a {
    width: 253px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 2px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 24px;
}

.popular-items-body {
    margin-top: 20px;
}

.popular-item {
    width: 220px;
    min-height: 318px; 
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hover-buttons {
    display: none;
}

.popular-item figure {
    margin: 0;
}

.BFG9000 img {
    margin-top: 5px;
}

.BFG3000 img {
    margin-top: 28px;
    margin-right: 12px;
}

.BFG6000 img {
    margin-top: 21px;
    margin-right: 21px;
}

.BFG2000 img {
    margin-top: 27px;
    margin-right: 28px;
}

/*.BFG2000 {
    position: relative;
}*/

.popular-items-body .BFG2000::after {
    content: "new";
    display: block;
    position: absolute;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    top: 5px;
    right: -24px;
    background-color: #ff5357;
    width: 89px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
    transform: rotate(45deg);
}


.popular-item h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: black;
    margin-top: 0;
    margin-bottom: 11px;
    text-align: center;
}

.last-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 1px;
}

.new-price {
    width: 122px;
    height: 38px;
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: white;
    background-color: #ff5357;
    padding-top: 10px;
    padding-left: 13px;
    box-sizing: border-box;
    margin-left: -11px;
    margin-bottom: 20px;
    text-align: center;
}

.new-price::after {
    content: "";
    position: absolute;
    border: 19px solid transparent;
    border-left: 19px solid #ff5357;
    display: block;
    width: 0;
    height: 0;
    left: 122px;
    bottom: 0;
}

.popular-item .price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 137px;
}




/*СТИЛИЗАЦИЯ ПОПУЛЯРНЫХ БРЕНДОВ*/

.popular-brands {
    margin-top: 21px;
}

.popular-brands-head {
    background-color: #f9f5f0;
    min-height: 89px;
    box-sizing: border-box;
}

.popular-brands-head h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-left: 25px;
    margin-top: 30px;
    font-weight: normal;
    color: #3d546e;
}

.popular-brands-head a {
    width: 253px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 2px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 24px;
}

.popular-brand a {
    display: flex;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.popular-brand {
    margin-top: 20px;
}

.popular-brands-body ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.Makita img {
    margin-top: -5px;
}

.DeWalt img {
    margin-top: -5px;
}

.InterSkol img {
    margin-top: -15px;
}

.Hitachi img {
    margin-top: 1px;
    margin-left: 3px;
}

.AEG img {
    margin-top: -2px;
}

.Metabo img {
    margin-top: -6px;
}




/*СТИЛИЗАЦИЯ РАЗДЕЛА СЕРВИС*/

/*.credit-info {
    display: none;
} */

.delivery-info {
    display: none;
}

.guarantee-info {
    display: none;
}

.service {
    background-color: #f2f6f8;
    min-height: 522px;
    margin-top: 85px;
}


.services-description h2 {
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 68px;
    margin: 0;
}

.services-description p {
    width: 400px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 29px;
}

.delivery-guarantee-credit {
    min-height: 333px;
    margin-top: 20px;
    align-items: flex-start;
}

.delivery-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 272px;
    position: relative;
}

.delivery-slider::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/background.png);
    height: 272px;
    width: 10px;
    right: 0;
}

.delivery-slider a {
    height: 62px;
    background-color: #32425c;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-weight: bold;
    font-size: 21px;
    line-height: normal;
    padding-left: 22px;
    padding-top: 21px;
    width: 240px;
}

.delivery-info {
    margin-left: 80px;
    min-height: 333px;
    width: 620px;
    background-image: url("../img/service-truck.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.delivery-info h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 24px;
    margin-top: 55px;
    color: #3d546e;
}

.delivery-info p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 276px;
    text-align: left;
}

.guarantee-info {
    margin-left: 80px;
    min-height: 333px;
    width: 620px;
    background-image: url("../img/service-guarantee.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.guarantee-info h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 24px;
    margin-top: 55px;
    color: #3d546e;
}

.guarantee-info p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 379px;
    text-align: left;
}

.credit-info {
    margin-left: 80px;
    min-height: 333px;
    width: 620px;
    background-image: url("../img/service-credit.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.credit-info h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 24px;
    margin-top: 55px;
    color: #3d546e;
}

.credit-info p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 379px;
    text-align: left;
    margin-bottom: 0;
}

.credit-info a {
    display: inline-block;
    margin-top: 25px;
    width: 195px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}







/*СТИЛИЗАЦИЯ РАЗДЕЛА С КАРТОЙ*/

.company-info-address {
    min-height: 536px;
    box-sizing: border-box;
    padding-top: 82px;
}

.company-info-address h2 {
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    margin-top: 0;
    margin-bottom: 28px;
}

.company-info-address p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company-address {
    width: 300px;
}

.company-info {
    width: 520px;
}

.company-address p {
    margin-bottom: 32px;
}

.paragraph-info {
    margin-top: 24px;
}

.company-link {
    display: block;
    margin-top: 31px;
    width: 300px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    padding-left: 5px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}

.company-info ul {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
    margin-top: 21px;
    padding-left: 35px;
}

.company-info li {
    margin-bottom: 20px;
    position: relative;
}

.company-info li::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -215px -3px;
    left: -35px;
    top: 9px;
}

.company-info a {
    display: block;
    margin-top: 35px;
    width: 220px;
    height: 38px;
    background-color: #ff5357;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 11px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}




/*СТИЛИЗАЦИЯ ФУТЕРА*/

footer {
    min-height: 300px;
    box-sizing: border-box;
}

.footer-top {
    min-height: 63px;
    box-sizing: border-box;
}

.footer-company-nav {
    width: 547px;
    font-size: 18px;
    line-height: 24px;
}

.footer-shop-nav {
    width: 524px;
    font-size: 18px;
    line-height: 24px;
}

.made-by-span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.made-by a {
    display: block;
    font-size: 16px;
    line-height: 18px;
}

.footer-top,
.footer-middle {
    background-color: #3d546e;
}

.footer-bottom {
    background-color: #33445a;
}

.footer-top a {
    color: white;
}

.footer-middle a,
.footer-bottom a {
    color: #ffda96;
}

.footer-company-nav .flex,
.footer-shop-nav .flex {
    list-style: none;
}

.footer-logo {
    width: 220px;
    height: 63px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ff5357;
    box-shadow: 0px 5px #c23f42;
    box-sizing: border-box;
    padding-top: 18px;
}

.footer-company-nav ul {
    height: 63px;
    margin: 0;
    padding-left: 0;
    align-items: flex-end;
}

.footer-middle {
    min-height: 130px;
    box-sizing: border-box;
}

.footer-middle .container {
    min-height: 130px;
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0;
    margin-top: 33px;
    margin-left: 4px;
}

.footer-shop-nav ul {
    margin-top: 33px;
    padding-left: 0;
}

.footer-bottom {
    min-height: 107px;
    box-sizing: border-box;
}

.footer-bottom .container {
    min-height: 107px;
    align-items: center;
}

small {
    font-size: 16px;
    line-height: 18px;
    color: white;
    font-weight: normal;
    margin-left: 2px;
}

.footer-bottom .social {
    width: 131px;
    margin-right: -45px;
}

.footer-bottom .icon {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background-color: #212a3a;
    position: relative;
}

.icon-VK::before {
    content: "";
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 20px;
    height: 12px;
    background-position: -199px -59px;
    top: 16px;
    left: 10px;
}

.icon-FB::before {
    content: "";
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 10px;
    height: 18px;
    background-position: -199px -3px;
    top: 11px;
    left: 15px;
}

.icon-Insta::before {
    content: "";
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-position: -143px -168px;
    top: 12px;
    left: 12px;
}

.made-by .email {
    margin-right: 51px;
}

.made-by .developer {
    margin-right: 13px;
}









/*СТРАНИЦА КАТАЛОГ*/

.pagination {
    list-style: none;
}

.perforators-info {
    background-color: #f2f6f8;
}

.perforators-top-nav,
.filter-header {
    background-color: #f7f3ec;
}

.breadcrumbs {
    list-style: none;
    padding-left: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    align-items: flex-end;
    margin-top: 21px;
}

.home-icon {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 12px;
    background-position: -122px -168px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

.breadcrumbs a {
    margin-right: 40px;
    color: black;
}

.breadcrumbs li {
    position: relative;
}

.arrow-li-one::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-breadcrumb.png");
    background-repeat: no-repeat;
    left: -20px;
    top: 2px;
}

.arrow-li-one::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-breadcrumb.png");
    background-repeat: no-repeat;
    left: -27px;
    top: 2px;
}

.arrow-li-two::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-breadcrumb.png");
    background-repeat: no-repeat;
    left: -23px;
    top: 2px;
}

.arrow-li-three::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-breadcrumb.png");
    background-repeat: no-repeat;
    left: -23px;
    top: 2px;
}

.perforators-header {
    min-height: 89px;
    font-size: 30px;
    line-height: 89px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 28px;
    background-color: #f2f6f8;
    color: #32425c;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.perforators-list {
    width: 700px;
}

aside.filter {
    width: 220px;
}

.filter-header {
    margin: 0;
    min-height: 38px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 38px;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 4px;
    padding-left: 19px;
}

.perforators-top-nav {
    min-height: 38px;
    text-transform: uppercase;
    border-radius: 4px;
    align-items: center;
}

.perforators-top-nav h3 {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 19px;
}

.perforators-top-nav a {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    opacity: 0.3;
    border-bottom: 1px dotted red;
    height: 18px;
    box-sizing: border-box;
}

.arrow-up {
    border: 7px solid transparent;
    border-bottom: 10px solid #c6c2bd;
    display: block;
    width: 0;
    height: 0;
    margin-bottom: 8px;
    margin-left: 20px;
}

.arrow-down {
    border: 7px solid transparent;
    border-top: 10px solid #c6c2bd;
    display: block;
    width: 0;
    height: 0;
    margin-top: 8px;
    margin-right: 15px;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 354px;
    margin-left: 113px;
}

.perforators-list-body .popular-item {
    margin-top: 20px;
}

.perforators-list-body .popular-item:nth-child(3)::after {
    content: "new";
    display: block;
    position: absolute;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    top: 5px;
    right: -24px;
    background-color: #ff5357;
    width: 89px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
    transform: rotate(45deg);
}

.perforators-list-body .popular-item:nth-child(5)::after {
    content: "new";
    display: block;
    position: absolute;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    top: 5px;
    right: -24px;
    background-color: #ff5357;
    width: 89px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
    transform: rotate(45deg);
}

.perforators-list-body .popular-item:nth-child(7)::after {
    content: "new";
    display: block;
    position: absolute;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    top: 5px;
    right: -24px;
    background-color: #ff5357;
    width: 89px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
    transform: rotate(45deg);
}

.pagination a {
    display: block;
    width: 38px;
    height: 38px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 38px;
    color: black;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-right: 10px;
}

.pagination {
    padding-left: 0;
    margin-top: 52px;
    margin-bottom: 60px;
}

.pagination .active-pagination {
    color: white;
    background-color: #ff5357;
    border: none;
}

.pagination .pagination-next {
    width: 140px;
    text-transform: uppercase;
}

.perforators-info {
    min-height: 261px;
    box-sizing: border-box;
}

.perforators-info h2 {
    padding-top: 68px;
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.perforators-info p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    margin-top: 29px;
    margin-bottom: 0;
}




/*СТИЛИЗАЦИЯ ASIDE*/

.price-filter {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.company-filter {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.energy-filter {
    border: none;
}

legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

aside label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
}