@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

a {
    text-decoration: none;
}


.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}


.user-logged-in,
.big-promo-drel {
    display: none;
}

.header-phone,
.header-address {
    display: block;
}

.header-description {
    width: 250px;
}


.promo-article {
    width: 300px;
}

.big-promo {
    width: 620px;
}

.popular-brand {
    width: 220px;
    height: 145px;
}

.guarantee-info,
.credit-info {
    display: none;
} 

.delivery-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-company-nav {
    width: 548px;
}

.footer-shop-nav {
    width: 524px;
}

.made-by-span {
    display: block;
}

.header-top {
    background-color: #33445a;
    color: white;
}

.header-top a {
    text-decoration: none;
    color: white;
}


.header-bottom {
    background-color: #f2f6f8;
}

.header-nav {
    background-color: #3d546e;
}

.header-nav ul {
    list-style: none;
}

.header-nav a {
    color: white;
}

.materials {
    background-color: #ffbf47;
}

.instrument {
    background-color: #3bbce3;
}

.technics {
    background-color: #dc91d8;
}

.sale {
    background-color: #8ed78f;
}

.deliveries {
    background-color: #ffc047;
}

.popular-items-head {
    background-color: #f9f5f0;
}

.popular-brands-head {
    background-color: #f9f5f0;
}

.popular-brands-body ul {
    list-style: none;
}

.service {
    background-color: #f2f6f8;
}

.footer-top,
.footer-middle {
    background-color: #3d546e;
}

.footer-bottom {
    background-color: #33445a;
}

.footer-top a {
    color: white;
}

.footer-middle a,
.footer-bottom a {
    color: #ffda96;
}

.pagination {
    list-style: none;
}

.footer-company-nav .flex,
.footer-shop-nav .flex {
    list-style: none;
}

.perforators-info {
    background-color: #f2f6f8;
}

.perforators-top-nav,
.filter-header {
    background-color: #f7f3ec;
}

.breadcrumbs {
    list-style: none;
}


.price-filter {
    border: none;
    border-bottom: 1px solid black;
}


